<div class="ui-g">
    <div class="ui-g-12">
        <p-calendar [showIcon]="true" [selectOtherMonths]="true"
            [readonlyInput]="true" (onSelect)="onDateChanged($event)" [(ngModel)]="model" dateFormat="yy-mm-dd"
            [maxDate]="maxDate"></p-calendar>
    </div>
    <div *ngIf="apod" class="center ui-sm-12 ui-md-12 ui-lg-10 ui-lg-offset-1 ui-xl-8 ui-xl-offset-2">
        <div *ngIf="apod.media_type == 'image'" style="position: relative">
            <p-card title="{{apod.title}}" subheader="{{apod.copyright}} {{apod.date}}">
                <p-header class="square">
                    <img class="center" src="{{apod.hdurl}}">
                </p-header>
                <div class="border" style="padding:8px;color: white;">{{apod.explanation}}</div>
            </p-card>
        </div>
        <div *ngIf="apod.media_type == 'video'" class="video-container">
            <iframe class="center" [src]='safe_url'>
            </iframe>
            <p-card title="{{apod.title}}" subheader="{{apod.copyright}} {{apod.date}}" styleClass="center">
                <p-header class="square">

                </p-header>
                <div style="height: 100%;">{{apod.explanation}}</div>
            </p-card>
        </div>
    </div>
</div>