<div class="ui-g">
    <div class="ui-g center-item" *ngIf="isLoading">
        <div class="ui-g-12">
            <p-progressSpinner></p-progressSpinner>
        </div>

    </div>
    <div class="ui-g-12">
        <div class="ui-g-6">
            Start:
            <p-calendar [showIcon]="true" [selectOtherMonths]="true"
                [readonlyInput]="true" (onSelect)="setOptions()" [(ngModel)]="startModel" dateFormat="yy-mm-dd"
                [maxDate]="maxStartDate"></p-calendar>
        </div>
        <div class="ui-g-6">
            End:
            <p-calendar [showIcon]="true" [selectOtherMonths]="true"
                [readonlyInput]="true" (onSelect)="setOptions()" [(ngModel)]="endModel" dateFormat="yy-mm-dd" [maxDate]="maxEndDate"></p-calendar>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-12">
            <div *ngFor="let item of notifications">
                <p-accordion>
                    <p-accordionTab header="{{item.messageID}}">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                Type: {{item.messageType}}<br />
                                MessageID: {{item.messageID}}<br />
                                <a href="{{item.messageURL}}" target="_blank">message</a>
                            </div>
                            <div class="border" [innerHTML]="item.messageBody">
                            </div>
                        </div>
                    </p-accordionTab>
                </p-accordion>

            </div>

        </div>
    </div>