<p-panel header="Angular 6, PrimeNg, Express, node-bowshock, and socket.io" [toggleable]="true" [collapsed]="false">
    <div class="ui-g">
        <div class="ui-g-12 border" *ngIf="stats">
            <div class="ui-g">
                <div class="ui-sm-12 ui-g-6">
                    Near Earth Object Count: <span style="color: white">{{stats.near_earth_object_count}}</span>
                </div>
                <div class="ui-sm-12 ui-g-6">
                    Close Approach Count: <span style="color: white">{{stats.close_approach_count}}</span>
                </div>
            </div>
            <div class="ui-g">
                <div class="ui-sm-12 ui-g-6">
                    Last Updated: <span style="color: white">{{stats.last_updated}}</span>
                </div>
                <div class="ui-sm-12 ui-g-6">
                    Source: <a href="{{stats.nasa_jpl_url}}"><span style="color: lightblue">{{stats.source}}</span></a>
                </div>
            </div>
        </div>
    </div>
</p-panel>