<div class="ui-g">
    <div class="ui-g center-item" *ngIf="isLoading">
        <div class="ui-g-12">
            <p-progressSpinner></p-progressSpinner>
        </div>

    </div>
    <div class="ui-g-12">
        <div class="ui-g-6">
            Start:
            <p-calendar [inputStyle]="{'width':'90%', 'margin': 'auto'}" [showIcon]="true" [selectOtherMonths]="true"
                [readonlyInput]="true" (onSelect)="setGSTDate()" [(ngModel)]="startModel" dateFormat="yy-mm-dd"
                [maxDate]="maxStartDate" (ngModelChange)="change($event)"></p-calendar>
        </div>
        <div class="ui-g-6">
            End:
            <p-calendar [inputStyle]="{'width':'90%', 'margin': 'auto'}" [showIcon]="true" [selectOtherMonths]="true"
                [readonlyInput]="true" (onSelect)="setGSTDate()" [(ngModel)]="endModel" dateFormat="yy-mm-dd" [maxDate]="maxEndDate"
                (ngModelChange)="change($event)"></p-calendar>
        </div>
    </div>
    <ng-container *ngIf="!longDate">
        <div class="ui-g-12 " *ngFor="let item of gst">

            <p-accordion>
                <p-accordionTab header="{{item.gstID}}">
                    <div class="ui-g">
                        <div class="ui-g-12 border">
                            Start time: {{item.startTime}}<br />
                            <ng-container *ngFor="let idx of item.allKpIndex">
                                ID: {{idx.observedTime}}<br /> Name: {{idx.kpIndex}}<br />Source: {{idx.source}}<br />
                            </ng-container>
                            <ng-container *ngIf="item.linkedEvents">
                                <ng-container *ngFor="let event of item.linkedEvents">
                                    <button pButton type="button" label="{{event.activityID}}" (click)="goToAssoc(event.activityID)"></button><br />
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </ng-container>

    <div class="ui-g-12 " *ngFor="let item of gst">
        <ng-container *ngIf="longDate && longDate == item.gstID">
            <p-accordion>
                <p-accordionTab header="{{item.gstID}}">
                    <div class="ui-g">
                        <div class="ui-g-12 border">
                            Start time: {{item.startTime}}<br /> ----
                            <ng-container *ngFor="let idx of item.allKpIndex">
                                Observed Time: {{idx.observedTime}}<br /> Index: {{idx.kpIndex}}<br />Source:
                                {{idx.source}}
                            </ng-container>
                            <ng-container *ngIf="item.linkedEvents">
                                <ng-container *ngFor="let event of item.linkedEvents">
                                    <button pButton type="button" label="{{event.activityID}}" (click)="goToAssoc(event.activityID)"></button><br />
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </ng-container>
        <ng-container *ngIf="!longDate">
            <p-accordion>
                <p-accordionTab header="{{item.gstID}}">
                    <div class="ui-g">
                        <div class="ui-g-12 border">
                            Start time: {{item.startTime}}<br /> ----
                            <ng-container *ngFor="let idx of item.allKpIndex">
                                Observed Time: {{idx.observedTime}}<br /> Index: {{idx.kpIndex}}<br />Source:
                                {{idx.source}}
                            </ng-container>
                            <ng-container *ngIf="item.linkedEvents">
                                <ng-container *ngFor="let event of item.linkedEvents">
                                    <button pButton type="button" label="{{event.activityID}}" (click)="goToAssoc(event.activityID)"></button><br />
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>

        </ng-container>
        <ng-container *ngIf="!gst && !isLoading || gst && gst.length == 0">
            <h1>No GST Found!</h1>
        </ng-container>
    </div>