<div class="ui-g">
    <div class="ui-g center-item" *ngIf="isLoading">
        <div class="ui-g-12">
            <p-progressSpinner></p-progressSpinner>
        </div>

    </div>
    <div class="ui-g-12">
        <div class="ui-g-6">
            Start:
            <p-calendar [inputStyle]="{'width':'90%', 'margin': 'auto'}" [showIcon]="true" [selectOtherMonths]="true"
                [readonlyInput]="true" (onSelect)="setOptions()" [(ngModel)]="startModel" dateFormat="yy-mm-dd"
                [maxDate]="maxStartDate"></p-calendar>
        </div>
        <div class="ui-g-6">
            End:
            <p-calendar [inputStyle]="{'width':'90%', 'margin': 'auto'}" [showIcon]="true" [selectOtherMonths]="true"
                [readonlyInput]="true" (onSelect)="setOptions()" [(ngModel)]="endModel" dateFormat="yy-mm-dd" [maxDate]="maxEndDate"></p-calendar>
        </div>
    </div>

    <div class="ui-g-12" *ngFor="let item of wsasim">
        <p-accordion>
            <p-accordionTab header="{{item.simulationID}}">
                <div class="ui-g">
                    <div class="ui-g-12 border">
                        SimulationID{{item.simulationID}}<br />
                        Model Completion Time: {{item.modelCompletionTime}}<br />
                        au: {{item.au}}
                        cmeid: {{item.cmeid}}
                        <ng-container *ngIf="item.cmeInputs">
                            <ng-container *ngFor="let input of item.cmeInputs">
                                CMEStartTime: {{input.cmeStartTime}}<br />
                                Latitude: {{input.latitude}}<br />
                                Longitude: {{input.longitude}}<br />
                                Speed: {{input.speed}}<br />
                                HalfAngle: {{input.halfAngle}}<br />
                                time21_5: {{input.time21_5}}<br />
                                isMostAccurate: {{input.isMostAccurate}}
                                levelOfData: {{input.levelOfData}}
                                <ng-container *ngFor="let list of input.ipsList">
                                    Catalog: {{list.catalog}}
                                    <button pButton type="button" label="{{list.activityID}}" (click)="goToAssoc(list.activityID)"></button><br />
                                    Location: {{list.location}}<br />
                                    Eventtime: {{list.eventTime}}
                                    <ng-container *ngFor="let instrument of list.instruments">
                                        ID: {{instrument.id}}<br /> Name: {{instrument.displayName}}<br />
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
    <ng-container *ngIf="!isLoading && !wsasim || wsasim && wsasim.length == 0">
        <h1>No wsasim Found!</h1>
    </ng-container>
</div>