<div class="ui-g center-item" *ngIf="isLoading">
    <div class="ui-g-12">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>
<div class="ui-g" *ngIf="eva && !isLoading">
    <div class="ui-g-12">
        <p-dataScroller [value]="eva" [rows]="25" [lazy]="true" (onLazyLoad)="loadData($event)" [totalRecords]="eva.length">
            <p-header>
                <div class="ui-inputgroup">
                    <button pButton type="button" label="Get EVA" (click)="getEVA()"></button>
                    <input type="text" pInputText placeholder="Extra Vehicular Activity" [(ngModel)]="model">
                </div>
            </p-header>
            <div class="ui-g">
                <div class="ui-g-12">
                    <ng-template let-walk pTemplate="item">
                        <p-accordion>
                            <ng-container *ngIf="walk.date; else none">
                                <p-accordionTab header="{{walk.eva}} - {{walk.date.split('T')[0]}}">


                                    <div class="ui-g">
                                        <div class="ui-g-12 border">

                                            <div class="ui-g-6 ui-sm-12">EVA number: </div>
                                            <div class="ui-g-6 ui-sm-12" style="color: white">{{walk.eva}}</div>

                                            <div class="ui-g-6 ui-sm-12">Country: </div>
                                            <div class="ui-g-6 ui-sm-12" style="color: white">{{walk.country}}</div>

                                            <div class="ui-g-6 ui-sm-12">Crew: </div>
                                            <div class="ui-g-6 ui-sm-12" style="color: white">{{walk.crew}}</div>

                                            <div *ngIf="walk.date" class="ui-g-6 ui-sm-12">Date: </div>
                                            <div *ngIf="walk.date" class="ui-g-6 ui-sm-12" style="color: white">{{walk.date}}</div>

                                            <div class="ui-g-6 ui-sm-12">Duration: </div>
                                            <div class="ui-g-6 ui-sm-12" style="color: white">{{walk.duration}}</div>

                                            <div class="ui-g-6 ui-sm-12">Vehicle: </div>
                                            <div class="ui-g-6 ui-sm-12" style="color: white">{{walk.vehicle}}</div>
                                        </div>
                                        <div class="ui-g-12">
                                            <div class="ui-g-6 ui-mg 4 ui-sm-12">Purpose: </div>
                                            <div class="ui-g-6 u-md-8 ui-sm-12">{{walk.purpose}}</div>

                                        </div>
                                    </div>
                                </p-accordionTab>
                            </ng-container>
                        </p-accordion>
                        <p-accordion>
                            <ng-template #none>
                                <p-accordionTab header="{{walk.eva}}">
                                    <div class="ui-g">
                                        <div class="ui-g-12 border">

                                            <div class="ui-g-6 ui-sm-12">EVA number: </div>
                                            <div class="ui-g-6 ui-sm-12" style="color: white">{{walk.eva}}</div>

                                            <div class="ui-g-6 ui-sm-12">Country: </div>
                                            <div class="ui-g-6 ui-sm-12" style="color: white">{{walk.country}}</div>

                                            <div class="ui-g-6 ui-sm-12">Crew: </div>
                                            <div class="ui-g-6 ui-sm-12" style="color: white">{{walk.crew}}</div>

                                            <div *ngIf="walk.date" class="ui-g-6 ui-sm-12">Date: </div>
                                            <div *ngIf="walk.date" class="ui-g-6 ui-sm-12" style="color: white">{{walk.date}}</div>

                                            <div class="ui-g-6 ui-sm-12">Duration: </div>
                                            <div class="ui-g-6 ui-sm-12" style="color: white">{{walk.duration}}</div>

                                            <div class="ui-g-6 ui-sm-12">Vehicle: </div>
                                            <div class="ui-g-6 ui-sm-12" style="color: white">{{walk.vehicle}}</div>
                                        </div>
                                        <div class="ui-g-12">
                                            <div class="ui-g-6 ui-mg 4 ui-sm-12">Purpose: </div>
                                            <div class="ui-g-6 u-md-8 ui-sm-12">{{walk.purpose}}</div>

                                        </div>
                                    </div>
                                </p-accordionTab>
                            </ng-template>
                        </p-accordion>
                    </ng-template>
                </div>
            </div>
        </p-dataScroller>
    </div>
</div>