<div class="ui-g-12">
    <p-calendar [inputStyle]="{'width':'100%', 'margin': 'auto'}" [showIcon]="true" [selectOtherMonths]="true"
        [readonlyInput]="true" (onSelect)="onDateChanged($event)" [(ngModel)]="model" dateFormat="yy-mm-dd" [maxDate]="maxDate"></p-calendar>
</div>
<div class="ui-g-12" *ngFor="let item of enhancedByDate">
    <p-accordion>
        <p-accordionTab header="{{item.identifier}}">
            <div class="border">
                Identifier: {{item.identifier}}<br />
                Caption: {{item.caption}}<br />
                Image: <button (click)="getImage(item.image)" type="button" pButton label="{{item.image}}"></button>
            </div>
            <ng-container *ngIf="enhancedImageLink">
                <img src="{{enhancedImageLink}}">
            </ng-container>
            {{item | json}}
        </p-accordionTab>
    </p-accordion>
</div>

{{enhancedByDate | json}}
<ng-container *ngIf="!isLoading && !enhancedByDate || enhancedByDate && enhancedByDate.length == 0">
    <h1>No Images Found!</h1>
</ng-container>