<div class="ui-g">

    <div class="ui-g-12">
        <h1>Coronal Mass Ejection</h1>
        Start Date:
        <p-calendar [inputStyle]="{'width':'100%', 'margin': 'auto'}" [showIcon]="true" [selectOtherMonths]="true" [readonlyInput]="true"
            (onSelect)="getCME($event, null)" [(ngModel)]="startModel" dateFormat="yy-mm-dd"></p-calendar>
End Date:
<p-calendar [inputStyle]="{'width':'100%', 'margin': 'auto'}" [showIcon]="true" [selectOtherMonths]="true" [readonlyInput]="true"
            (onSelect)="getCME(startModel, $event)" [(ngModel)]="endModel" dateFormat="yy-mm-dd"></p-calendar>

    </div>
    {{cme | json}}
</div>