<div class="ui-inputgroup">
    <button pButton type="button" label="Get Media" (click)="getData()"></button>
    <input type="text" pInputText placeholder="Get Media" [(ngModel)]="model">
</div>

<div class="ui-g" *ngIf="!isLoading && media">
    Results: {{mp4s.length + m4as.length + pngs.length + jsons.length}}
    <div class="ui-g-12">
        <div class="ui-sm-12 ui-md-12 ui-g-3">
            <p-dataScroller [value]="mp4s" [rows]="25" [lazy]="true" [totalRecords]="mp4s.length">
                <p-header>
                    mp4s - {{mp4s.length}}
                </p-header>
                <ng-template let-mp4 pTemplate="item">
                    <video controls="controls" class="center">
                        <source src="{{mp4}}" type="video/mp4" />
                        Your browser does not support HTML5 video.
                    </video>
                </ng-template>
            </p-dataScroller>
        </div>
        <div class="ui-sm-12 ui-md-12 ui-g-3">
            <p-dataScroller [value]="m4as" [rows]="25" [lazy]="true" [totalRecords]="m4as.length">
                <p-header>
                    m4as - {{m4as.length}}
                </p-header>
                <ng-template let-m4a pTemplate="item">

                    <audio controls="controls" class="center">
                        <source src="{{m4a}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>

                </ng-template>
            </p-dataScroller>
        </div>
        <div class="ui-sm-12 ui-md-12 ui-g-3">
            <p-dataScroller [value]="pngs" [rows]="25" [lazy]="true" [totalRecords]="pngs.length">
                <p-header>
                    pngs - {{pngs.length}}
                </p-header>
                <ng-template let-png pTemplate="item">
                    <img src="{{png}}">
                </ng-template>
            </p-dataScroller>
        </div>
        <div class="ui-sm-12 ui-md-12 ui-g-3">
            <p-dataScroller [value]="jsons" [rows]="25" [lazy]="true" [totalRecords]="jsons.length">
                <p-header>
                    jsons - {{jsons.length}}
                </p-header>
                <ng-template let-json pTemplate="item" >
                    <a style="word-wrap: break-word;" target="_blank" href="{{json}}">{{json}}</a>
                </ng-template>
            </p-dataScroller>
        </div>
    </div>

</div>


<div class="ui-g center-item" *ngIf="isLoading">
    <div class="ui-g-12">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>