<div class="ui-inputgroup">
    <button pButton type="button" label="Get Media" (click)="getData()"></button>
    <input type="text" pInputText placeholder="Get Media" [(ngModel)]="model">
</div>
<div class="ui-g" *ngIf="!isLoading && media">
    <div class="ui-g-12" *ngFor="let mp4 of mp4s">
        {{mp4}}
        <!-- <video controls="controls" width="320" height="176">
            <source src="{{mp4}}" type="video/mp4" />
            Your browser does not support HTML5 video.
        </video> -->
    </div>
</div>


<div class="ui-g center-item" *ngIf="isLoading">
    <div class="ui-g-12">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>