<div class="ui-g">
    <div class="ui-g center-item" *ngIf="isLoading">
        <div class="ui-g-12">
            <p-progressSpinner></p-progressSpinner>
        </div>

    </div>
    <div class="ui-g-12">
        <div class="ui-g-6">
            Start:
            <p-calendar [inputStyle]="{'width':'90%', 'margin': 'auto'}" [showIcon]="true" [selectOtherMonths]="true"
                [readonlyInput]="true" (onSelect)="setOptions()" [(ngModel)]="startModel" dateFormat="yy-mm-dd"
                [maxDate]="maxStartDate" (ngModelChange)="change($event)"></p-calendar>
        </div>
        <div class="ui-g-6">
            End:
            <p-calendar [inputStyle]="{'width':'90%', 'margin': 'auto'}" [showIcon]="true" [selectOtherMonths]="true"
                [readonlyInput]="true" (onSelect)="setOptions()" [(ngModel)]="endModel" dateFormat="yy-mm-dd" [maxDate]="maxEndDate"
                (ngModelChange)="change($event)"></p-calendar>
        </div>
    </div>

    <div class="ui-g-12 " *ngFor="let item of sep">
        <ng-container *ngIf="longDate && longDate == item.sepID">
            <p-accordion>
                <p-accordionTab header="{{item.sepID}}">
                    <div class="ui-g">
                        <div class="ui-g-12 border">
                            MPC ID: {{item.rbeID}}<br />
                            Event Time: {{item.eventTime}}<br />
                            <ng-container *ngFor="let inst of item.instruments">
                                ID: {{inst.id}} <br /> Name: {{inst.displayName}}<br />
                            </ng-container>
                            <ng-container *ngIf="item.linkedEvents">
                                <ng-container *ngFor="let event of item.linkedEvents">
                                    <button pButton type="button" label="{{event.activityID}}" (click)="goToAssoc(event.activityID)"></button>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </ng-container>
    </div>
    <ng-container *ngIf="!longDate">
        <div class="ui-g-12 " *ngFor="let item of sep">
            <p-accordion>
                <p-accordionTab header="{{item.sepID}}">
                    <div class="ui-g">
                        <div class="ui-g-12 border">
                            MPC ID: {{item.rbeID}}<br />
                            Event Time: {{item.eventTime}}<br />
                            <ng-container *ngFor="let inst of item.instruments">
                                ID: {{inst.id}} <br /> Name: {{inst.displayName}}<br />
                            </ng-container>
                            <ng-container *ngIf="item.linkedEvents">
                                <ng-container *ngFor="let event of item.linkedEvents">
                                    <button pButton type="button" label="{{event.activityID}}" (click)="goToAssoc(event.activityID)"></button>
                                </ng-container>
                            </ng-container>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </ng-container>
    <ng-container *ngIf="!isLoading && !sep || sep && sep.length == 0">
        <h1>No SEP Found!</h1>
    </ng-container>
</div>