<div>
    <div class="ui-g center-item" *ngIf="isLoading">
        <div class="ui-g-12">
            <p-progressSpinner></p-progressSpinner>
        </div>

    </div>

    <div *ngIf="photos">
        <button class="ui-g-12" pButton (click)="backClicked()" type="button" label="Back"></button>
        <div *ngFor="let photo of photos">

            <div class="ui-g">
                <div class="ui-g-12">
                    <img src="{{photo.img_src}}">
                </div>
            </div>
        </div>
        <button class="ui-g-12" pButton (click)="backClicked()" type="button" label="Back"></button>
    </div>
    <div *ngIf="!photos && !isLoading">
        <div class="ui-g">

            <div class="ui-g-12">
                <h1>Manifest</h1>

                
            </div>


        </div>

        <div class="ui-g" *ngIf="manifest && !isLoading">
            <div class="ui-g-12">
                <div style="margin-bottom: 10px;">
                <p-dataScroller [value]="[manifest]" [rows]="10" [totalRecords]="[manifest].length">

                    <p-header>
                            <div class="ui-inputgroup">
                                    <span style="padding-top:6px;padding-right:25px;" >Photosets: </span> <p-dropdown [options]="rovers" [(ngModel)]="selectedRover" (onChange)="roverSelected(selectedRover)"></p-dropdown>
                                </div>
                    </p-header>

                    <div class="ui-g">
                        <div class="ui-g-12">
                            <ng-template let-walk pTemplate="item">
                                <div class="ui-g">
                                    <div class="ui-g-4">
                                        <div class="border">
                                            <div class="ui-g-6 ui-sm-12">Rover: </div>
                                            <div class="ui-g-6 ui-sm-12" style="color: white">{{manifest.name}} <span [style.color]="getColor(manifest.status)">{{manifest.status}}</span></div>
                                        </div>
                                        <div class="border">
                                            <div class="ui-g-6 ui-sm-12">Landing Date: </div>
                                            <div style="color: white" class="ui-g-6 ui-sm-12">{{manifest.landing_date}}</div>
                                        </div>
                                    </div>


                                    <div class="ui-g-4">

                                        <div class="border">
                                            <div class="ui-g-6 ui-sm-12">Launch Date: </div>
                                            <div style="color: white" class="ui-g-6 ui-sm-12">{{manifest.launch_date}}</div>
                                        </div>
                                        <div class="border">
                                            <div class="ui-g-6 ui-sm-12">Max Sol: </div>
                                            <div style="color: white" class="ui-g-6 ui-sm-12">{{manifest.max_sol}}</div>
                                        </div>
                                    </div>
                                    <div class="ui-g-4">
                                        <div class="border">
                                            <div class="ui-g-6 ui-sm-12">Max Date: </div>
                                            <div style="color: white" class="ui-g-6 ui-sm-12">{{manifest.max_date}}</div>
                                        </div>
                                        <div class="border">
                                            <div class="ui-g-6 ui-sm-12">Total Photos: </div>
                                            <div style="color: white" class="ui-g-6 ui-sm-12">{{manifest.total_photos}}</div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </p-dataScroller>
            </div>
                <p-dataScroller [style.width.%]="100" [value]="manifest.photos" [rows]="10" [lazy]="true" (onLazyLoad)="loadData($event)"
                    [totalRecords]="manifest.total_photos || 0">

                    <p-header>

                        <div class="ui-inputgroup">
                            <button pButton type="button" label="Get Sol" (click)="getSol()"></button>
                            <input type="text" pInputText placeholder="Sol" [(ngModel)]="sol">
                        </div>

                    </p-header>

                    <div>
                        <div *ngFor="let photo of manifest.photos; let i=index">

                            <ng-template let-photo pTemplate="item">
                                <p-card *ngIf="photo.sol != 0" title="Sol {{photo.sol}} ({{photo.earth_date}})" subtitle="Total Photos: {{photo.total_photos}}" styleClass="center">
                                    <div class="ui-g">
                    
                                        <button pButton class="ui-g-12" (click)="solChosen(photo.sol)" label="Sol {{photo.sol}}"></button>



                                    </div>
                                    <div>

                                        <div *ngFor="let camera of photo.cameras; let first = first">
                                            <div class="ui-g">
                                                <button pButton class="ui-g-12" (click)="cameraChosen(camera, photo.sol)" label="{{camera}}"></button>
                                            </div>
                                        </div>
                                    </div>
                                </p-card>
                            </ng-template>

                        </div>
                    </div>

                </p-dataScroller>
            </div>
        </div>
    </div>