<div class="ui-g">
    <div class="ui-g center-item" *ngIf="isLoading">
        <div class="ui-g-12">
            <p-progressSpinner></p-progressSpinner>
        </div>

    </div>
    <div class="ui-g-12">
        <div class="ui-g-6">
            Start:
            <p-calendar [inputStyle]="{'width':'90%', 'margin': 'auto'}" [showIcon]="true" [selectOtherMonths]="true"
                [readonlyInput]="true" (onSelect)="setOptions()" [(ngModel)]="startModel" dateFormat="yy-mm-dd"
                [maxDate]="maxStartDate" (ngModelChange)="change($event)"></p-calendar>
        </div>
        <div class="ui-g-6">
            End:
            <p-calendar [inputStyle]="{'width':'90%', 'margin': 'auto'}" [showIcon]="true" [selectOtherMonths]="true"
                [readonlyInput]="true" (onSelect)="setOptions()" [(ngModel)]="endModel" dateFormat="yy-mm-dd" [maxDate]="maxEndDate"
                (ngModelChange)="change($event)"></p-calendar>
        </div>
    </div>
    <p-panel header="Search Options" [toggleable]="true" [collapsed]="true">
        <div class="ui-g">
            <form [formGroup]="ipsForm" class="border">
                <div class="ui-g-12">
                    <label for="location" class="ui-g-6"><strong>Location</strong></label>
                    <input pInput type="text" id="location" class="ui-g-6" formControlName="location">
                </div>
                <div class="ui-g-12">
                    <label for="cats" class="ui-g-6"><strong>Catalogs</strong></label>
                    <p-dropdown id="cats" [options]="catalogs" formControlName="catalogs"></p-dropdown>
                </div>
                <button class="ui-g-12" pButton label="Apply" (click)="setOptions()"></button>
            </form>
        </div>

    </p-panel>
    <div class="ui-g-12 " *ngFor="let item of ips">
        <ng-container *ngIf="longDate && longDate == item.activityID">
            <p-accordion>
                <p-accordionTab header="{{item.activityID}}">
                    <div class="ui-g">
                        <div class="ui-g-12 border">
                            {{item | json}}
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </ng-container>
        <ng-container *ngIf="!longDate">
            <p-accordion>
                <p-accordionTab header="{{item.activityID}}">
                    <div class="ui-g">
                        <div class="ui-g-12 border">
                            {{item | json}}
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </ng-container>
        <ng-container *ngIf="!ips && !isLoading || ips && ips.length == 0">
            <h1>No ips Found!</h1>
        </ng-container>
    </div>