<div class="ui-g center-item" *ngIf="isLoading">
    <div class="ui-g-12">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>
<h1 *ngIf="error" style="color: red">API is Down!</h1>

<div class="ui-g">
    <form [formGroup]="patentForm">
        <div *ngIf="!error" class="ui-g-12">
            <input pInput type="text" class="ui-g-4" formControlName="query" placeholder="Query">
            <input pInput type="number" class="ui-g-4" formControlName="limit" placeholder="Limit">
        </div>
    </form>
    <div class="ui-g-12" *ngIf="!isLoading && patent">
        <p-accordion>
            <p-accordionTab header="Patents">
                <div class="border">
                    {{patent | json}}
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>