<nav class="navbar navbar-inverse bg-faded">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Bowshock</a>
    </div>
      <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav" >
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/apod">Apod</a></li>
        <li class="nav-item dropdown" dropdown>
          <a  role="button" class="nav-link dropdownToggle" dropdownToggle>Mars <b class="caret"></b></a>
          <ul  class="dropdown-menu" >
            <li *ngFor="let roverChoice of rovers"><a class="dropdown-item"  [routerLink]="['./mars', roverChoice]" >{{roverChoice}}</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a  role="button" class="nav-link dropdownToggle" dropdownToggle>Neows <b class="caret"></b></a>
          <ul  class="dropdown-menu" >
            <li *ngFor="let neowChoice of neows"><a class="dropdown-item"  [routerLink]="['./neows', neowChoice]" >{{neowChoice}}</a></li>
          </ul>
        </li>
        <li><a routerLink="/eva">EVA</a></li>
      </ul>

        </div>
    <nav class="visible-xs hidden-md-up">
      <ul class="nav nav-pills nav-stacked scrollable-menu" [collapse]="!isCollapsed" (click)="isCollapsed = !isCollapsed;true"  >
      </ul>
    </nav>
    </div>
  </nav>

