<div class="ui-g">
    <div class="ui-g center-item" *ngIf="isLoading">
        <div class="ui-g-12">
            <p-progressSpinner></p-progressSpinner>
        </div>

    </div>
    <div class="ui-g-12">
        <div class="ui-g-6">
            Start:
            <p-calendar [inputStyle]="{'width':'90%', 'margin': 'auto'}" [showIcon]="true" [selectOtherMonths]="true" [readonlyInput]="true"
                (onSelect)="setOptions()" [(ngModel)]="startModel" dateFormat="yy-mm-dd" [maxDate]="maxStartDate"></p-calendar>
        </div>
        <div class="ui-g-6">
            End:
            <p-calendar [inputStyle]="{'width':'90%', 'margin': 'auto'}" [showIcon]="true" [selectOtherMonths]="true" [readonlyInput]="true"
                (onSelect)="setOptions()" [(ngModel)]="endModel" dateFormat="yy-mm-dd" [maxDate]="maxEndDate"></p-calendar>
        </div>
    </div>
    <p-panel header="Search Options" [toggleable]="true" [collapsed]="true">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="ui-g-6">
                    <label for="compl" class="ui-g-3"><strong>Complete Entry Only</strong></label>
                    <p-inputSwitch id="compl" class="ui-g-3" [(ngModel)]="complete"></p-inputSwitch>
                </div>
                <div class="ui-g-6">
                    <label for="accu" class="ui-g-3"><strong>Most Accurate Only</strong></label>
                    <p-inputSwitch id="accu" class="ui-g-3" [(ngModel)]="accurate"></p-inputSwitch>
                </div>
            </div>
            <form [formGroup]="cmeaForm" class="border">
                <div class="ui-g-12">
                    <label for="keyw" class="ui-g-6"><strong>Keyword</strong></label>
                    <input pInput type="text" id="keyw" class="ui-g-6" formControlName="keyword">
                </div>
                <div class="ui-g-12">
                    <label for="spd" class="ui-g-6"><strong>Speed</strong></label>
                    <input pInput type="number" id="spd" class="ui-g-6" formControlName="speed">
                </div>
                <div class="ui-g-12">
                    <label for="half" class="ui-g-6"><strong>Half Angles</strong></label>
                    <input pInput type="number" id="half" class="ui-g-6" formControlName="halfAngle">
                </div>
                <div class="ui-g-12">
                    <label for="cats" class="ui-g-6"><strong>Catalogs</strong></label>
                    <p-dropdown id="cats" [options]="catalogs" formControlName="catalogs"></p-dropdown>
                </div>
                <button class="ui-g-12" pButton label="Apply" (click)="setOptions()"></button>
            </form>
        </div>

    </p-panel>
    <div class="ui-g-12" *ngFor="let item of cmea">
        <p-accordion>
            <p-accordionTab header="{{item.time21_5}}">
                <div class="ui-g">
                    <div class="ui-g-12 border">
                        latitude: {{item.latitude}}<br/> longitude: {{item.longitude}}<br/> halfAngle: {{item.halfAngle}}<br/>                        speed:
                        {{item.speed}}
                        <br/> type: {{item.type}}<br/> isMostAccurate: {{item.isMostAccurate}}<br/> associatedCMEID:
                        <button pButton type="button" label="{{item.associatedCMEID}}" (click)="goToAssoc(item.associatedCMEID)"></button><br/>                        note:
                        {{item.note}}
                        <br/> catalog: {{item.catalog}}<br/>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>
    </div>
    <div *ngIf="cme">
        <div class="ui-g-12 " *ngFor="let item of cme">

            <p-accordion>
                <p-accordionTab header="{{item.activityID}}">
                    <div class="ui-g">
                        <div class="ui-g-12 border">
                            ActivityID: {{item.activityID}}<br/> Start: {{item.startTime}}<br/> Source Location: {{item.sourceLocation}}<br/>                            Active
                            Region Number: {{item.activeRegionNum}}<br/> Instruments:
                            <br/>
                            <ng-container *ngFor="let instrument of item.instruments">
                                ID: {{instrument.id}}<br/> Name: {{instrument.displayName}}<br/>
                            </ng-container>
                            <ng-container *ngFor="let cmeAnalysis of item.cmeAnalyses">
                                time21_5 : {{cmeAnalysis.time21_5}}<br/> latitude: {{cmeAnalysis.latitude}}<br/> longitude:
                                {{cmeAnalysis.longitude}}
                                <br/> halfAngle: {{cmeAnalysis.halfAngle}}
                                <br/> speed: {{cmeAnalysis.speed}}<br/> type: {{cmeAnalysis.type}}<br/> isMostAccurate: {{cmeAnalysis.isMostAccurate}}
                                <br/> note: {{cmeAnalysis.note}}<br/> levelOfData: {{cmeAnalysis.levelOfData}}<br/> enlilList:

                                <br/>
                                <ng-container *ngIf="cmeAnalysis.enlilList">
                                    <ng-container *ngFor="let enlil of cmeAnalysis.enlilList">
                                        {{enlil | json}}<br/>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            Linked Events:<br/>
                            <ng-container *ngIf="linkedEvents">
                                <ng-container *ngFor="let event of item.linkedEvents">
                                    {{event | json}}<br/>
                                </ng-container>
                            </ng-container>
                            Note: {{item.note}}<br/> Catalog: {{item.catalog}}<br/>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>
    </div>
    <ng-container *ngIf="!cmea && !isLoading && !cme|| cmea && cmea.length == 0 && !isLoading && !cme">
        <h1>No CMEA Found!</h1>
    </ng-container>
</div>