<div class="ui-g" *ngIf="!isLoading">
    <div class="ui-g-12">
        <h1>{{events.title}}</h1>
        <h3>{{events.description}}</h3>
        <p-accordion>
            <ng-container *ngFor="let event of events; let y=index">
                <app-event [event]="event" [socket]="socket"></app-event>
            </ng-container>
        </p-accordion>



    </div>
</div>
<div class="ui-g center-item" *ngIf="isLoading">
    <div class="ui-g-12">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>