<div class="ui-g" *ngIf="!isLoading">

    <div class="ui-g-12">
        <h1>{{layers.title}}</h1>
        <h3>{{layers.description}}</h3>

        <ng-container *ngFor="let cat of layers.categories">
            <div class="ui-g-12">
                <p-dropdown id="cats" [options]="catagories" (onChange)="getCategory()" [(ngModel)]="selectedCatagory"></p-dropdown>
            </div>
            <h3>{{cat.title}}</h3>

            <ng-container *ngFor="let layer of cat.layers">
                <div class="border">
                    Name: {{layer.name}}<br />

                    Service Type Id: {{layer.serviceTypeId}}<br /><br />
                    Parameters: <br />
                    <ng-container *ngFor="let param of layer.parameters">
                        TILEMATRIXSET: {{param.TILEMATRIXSET}}<br />
                        FORMAT: {{param.FORMAT}}<br /><br />
                        <!-- <button pButton type="button" (click)="getUrl(layer.serviceUrl,layer.name,param.TILEMATRIXSET)">{{layer.serviceUrl}}</button><br /> -->
                    </ng-container>
                </div>
            </ng-container>

        </ng-container>
    </div>
</div>

<div class="ui-g center-item" *ngIf="isLoading">
    <div class="ui-g-12">
        <p-progressSpinner></p-progressSpinner>
    </div>
</div>